<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Devices</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <section class="header">
      <nav>
        <a href="/"><img src="/images/logo_p1.jpg" /></a>
        <div class="nav-links">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="devices">DEVICES</a></li>
            <li><a href="about-us">ABOUT</a></li>
            <li><a href="contact-us">CONTACT US</a></li>
            <li class="not-logged"><a href="login">LOGIN</a></li>
            <li class="not-logged"><a href="register">REGISTER</a></li>
            <li class="logged"></li>
            <li><a id="logout">LOGOUT</a></li>
          </ul>
        </div>
      </nav>

      <div class="text-box">
        <h1>Smart Devices</h1>
        <p>
          Several new devices are being sucessfully launched lately such as the
          Iphone 13 Pro, Samsung Galaxy S21 Ultra and more.
          <br />
          All these are available here with the press of a button.
        </p>
        <a href="devices" class="hero-btn">Visit us to know more</a>
      </div>
    </section>

    <section class="devices">
      <h1>Devices We Offer</h1>
      <p>
        We offer a wide range of devices across multiple generations and
        capabilities.
      </p>

      <div class="row">
        <div class="devices-col">
          <h3>Trending Devices</h3>
          <p>Most popular devices widely used among users.</p>
        </div>

        <div class="devices-col">
          <h3>New Devices</h3>
          <p>Newest devices that just came out.</p>
        </div>
        <div class="devices-col">
          <h3>Old Devices</h3>
          <p>Past generation models.</p>
        </div>
      </div>
    </section>

    <section class="location">
      <h1>Our Headquarters</h1>
      <p>Our Main Office</p>

      <div class="row">
        <div class="location-col">
          <img src="/images/hq_1.jpg" alt="" />
          <div class="layer">
            <h3>BADARO</h3>
          </div>
        </div>
        <div class="location-col">
          <img src="/images/hq_2.jpg" alt="" />
          <div class="layer">
            <h3>DBAYEH</h3>
          </div>
        </div>
        <div class="location-col">
          <img src="/images/hq_3.jpg" alt="" />
          <div class="layer">
            <h3>YARZEH</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="products">
      <h1>Our Products</h1>

      <div class="row">
        <div class="products-col">
          <img src="/images/prod_1.jpg" alt="" />
          <h3>Iphone 13 Pro</h3>
          <p>
            The most advanced pro camera system ever on iPhone; Super Retina XDR
            display with ProMotion; a massive leap in battery life; A15 Bionic,
            the fastest chip in a smartphone; an advanced 5G experience; and so
            much more.
          </p>
        </div>
        <div class="products-col">
          <img src="/images/prod_2.jpg" alt="" />
          <h3>Samsung Galaxy S21 Ultra</h3>
          <p>
            The Samsung Galaxy S21 Ultra 5G is the company's most premium
            smartphone yet, with a strong focus on cameras. Just like the Galaxy
            S20 Ultra (Review), this new model boasts of 100X “space zoom” and
            8K video recording, but with an improved shooting experience and
            even better image quality.
          </p>
        </div>
        <div class="products-col">
          <img src="/images/prod_3.jpg" alt="" />
          <h3>Google Pixel 4A</h3>
          <p>
            The smartphone is powered by the Qualcomm SDM730 Snapdragon 730
            Octa-core processor. The smartphone comes with a 5.81 inches IPS LCD
            capacitive touchscreen. The screen of the device is protected by
            Corning Gorilla Glass 3. The rear camera consists of a single 12.2
            MP (wide) with LED flash, Auto-HDR, and panorama. The front camera
            has an 8 MP (wide). The smartphone comes with Fingerprint,
            accelerometer, proximity, compass, and barometer.
          </p>
        </div>
      </div>
    </section>

    <section class="feedback">
      <h1>Customer Reviews</h1>

      <div class="row">
        <div class="feedback-col">
          <img src="/images/customer_1.png" alt="" />
          <div>
            <h3>Michael Williams</h3>
            <p>
              I ordered the brand new Samsung Galaxy S21 Ultra on Monday October
              11, untill today which is October 20 i havent received the order
              and the customer support is responsive but i was informed that the
              delay is due to the delivery company.
            </p>
          </div>
        </div>
        <div class="feedback-col">
          <img src="/images/customer_2.png" alt="" />
          <div>
            <h3>Maria Burrows</h3>
            <p>
              My experience in purchasing the Iphone 13 Pro from this website
              was very satisfactory. The customer support was responsive, and
              the delivery was fast.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="inform">
      <h1>
        Purchse Our Products From All Around The Globe <br />
        With The Press Of a Single Button.
      </h1>
      <a href="" class="hero-btn">CONTACT US</a>
    </section>

    <section class="footer">
      <h4>About Us</h4>
      <p>
        We offer our customers with the best prices in the market for a wide
        variety of devices. We also offer repair services. Refund and exchange
        policies are in place to provide customers peace of mind.
      </p>
      <div class="icons"></div>
    </section>
    <script src="displayName.js"></script>
  </body>
</html>
