<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="stylesheet" href="/styles/style-about-us.css" />
  <link rel="stylesheet" href="/styles/chat.css" />
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="/images/logo_p1.jpg" /></a>
      <div class="nav-links">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="devices">DEVICES</a></li>
          <li><a href="about-us">ABOUT</a></li>
          <li><a href="contact-us">CONTACT US</a></li>
          <li class="not-logged"><a href="login">LOGIN</a></li>
          <li class="not-logged"><a href="register">REGISTER</a></li>
          <li class="logged"></li>
          <li><a id="logout">LOGOUT</a></li>
          <li><a id="admin-panel" href="admin">ADMIN PANEL</a></li>
        </ul>
      </div>
    </nav>
  </section>
  <div class="aboutus">
    <div class="aboutuscontent">
      <h1>About Us</h1>
      <p id="info">
        We provide you with smart devices. You can find the lowest prices with
        the best brands in the market. We can also fix your electronics. We have
        a refund and replace policy as well. Our clients are our utmost
        priority. YOU are our priority!
      </p>
      <div class="ourJob">
        <span>Sell smart devices</span>
        <span>Fix smart devices</span>
      </div>
    </div>
  </div>
  <div id="chatbox" class="chat-container">
    <div class="chat-container-title" onclick="toggleChatBox()">
      <p id="chatbox-title"><b>Chat with an Admin</b></p>
    </div>
    <div id="chat-body" class="chat-body">
      <ul id="chat-messages" class="chat-messages"></ul>
      <form id="chat-form" onsubmit="sendMessage(event)">
        <div class="chat-input-container">
          <textarea
            name="message"
            type="text"
            id="chat-input"
            class="chat-input"
            placeholder="Enter a message..."
          ></textarea>
          <button class="chat-send" type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/js/displayName.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
  <script src="/js/client.js" defer></script>
</body>
